@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;


/* ===============================================
私について
=============================================== */

.p-lower-about__container {
  display: flex;
  align-items: center;
  gap: clamp(1.25rem, -0.07rem + 5.63vw, 5rem);
  
  @container (width < 800px) {
    flex-flow: column wrap;
    justify-content: center;
    place-items: center;
  }

}
.p-lower-about__title {
  font-weight: v.$font-bold;
  padding: 0;
}

.p-lower-about__desc {
  font-weight: 400;
}

/* ===============================================
スキル
=============================================== */
.p-skill__container {

  ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: f.pxToRem(20);
    place-items: center;
 
  
    @include m.mq('sp') {
      grid-template-columns: 1fr;
    }
  }
}

.p-skill__card {
  width: min(100%,f.pxToRem(410));
  height: f.pxToRem(250);
  background: #fff;
  display: flex;
  flex-flow: column wrap;
  gap: f.pxToRem(20);
  padding: f.pxToRem(28) f.pxToRem(36) f.pxToRem(16);
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 / .1);
  
   img {
    display: block;
    margin: 0 auto;
    height: f.pxToRem(54);
  }

}

.p-skill__name {
  text-align: center;
  line-height: 180%;
  font-weight: v.$font-bold;
}

.p-skill__desc {
  margin-top: f.pxToRem(10);

  @include m.mq('sp'){
    font-size: f.pxToRem(14);
  } 
}
