@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;

/* ===============================================
ロゴ
=============================================== */
.c-header__logo {
  display: block;
  margin: auto 0;
  
  @include mixin.mq('sp') {
    width: f.pxToRem(50);
  }
}

/* ===============================================
drawer
=============================================== */
.c-drawer__icon {
 @include m.mq('pc') {
  display: none;
 }

    position: absolute;
    content: "";
    display: inline-block;
    width: f.pxToRem(50);
    height: f.pxToRem(50);
    border-radius: 50%;
    top: f.pxToRem(6);
    right: f.pxToRem(16);
    z-index: 10;
    transition: all 0.3s ease 0s;

    @include m.mq('tab'){
      top: f.pxToRem(16);
    } 

    &.is-active{
      span {
        &:nth-of-type(1){
          transform: translateY(10px)rotate(-45deg);
          background: v.$color-font;
          }
          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            transform: translateY(-10px) rotate(45deg);
            background: v.$color-font;
          }
        }
    }
    
  }
  .c-drawer__bars{

   span {
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: f.pxToRem(11);
    height: 2px;
    background: v.$color-font;
    width: f.pxToRem(28);
  
    &:nth-of-type(1){
      top: f.pxToRem(13);
    }
    &:nth-of-type(2){
      top: f.pxToRem(23);
    }
    &:nth-of-type(3){
      top: f.pxToRem(33);
    }
  }
}
