@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;


/* ===============================================
ロゴ
=============================================== */
.p-header__logo {
  display: block;
  margin: auto 0;

  p {
    font-size: f.pxToRem(20);
    font-weight: v.$font-bold;
    letter-spacing: f.pxToRem(0.4);
  }
  
  @include m.mq('sp') {
    width: f.pxToRem(50);
  }
}

/* ===============================================
パンくずリスト
=============================================== */
.p-breadcrub {
  font-size: f.pxToRem(12);
  
  
  span {
    color: #393939;
    padding: 0 f.pxToRem(4);

    &:last-child {
      color: #c2c2c2;
    }
   }
  }
