@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;

.p-header__nav {
  display: block;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: f.pxToRem(32);
  
  li {
    font-size: clamp(1rem, 0.714rem + 0.6vw, 1.25rem);
    margin: auto;
    position: relative;
    
    a {
      transition: 0.5s ease-out;
      
      &::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: f.pxToRem(24);
        height: f.pxToRem(2);
        bottom:-6px;
        left: 50%;
        background: v.$color-accent;
        transform: translateX(-50%) scale(0 , 1);
        transition: 0.3s ease-out;
        cursor: pointer;
      }
      
      &:hover,
      &.current {
        color: v.$color-accent;
        
        &::after {
          transform: translateX(-50%) scale(1 , 1);
        } 
      }
    }
  }

  @include m.mq('sp'){
    display: none;
  } 
}

/* ===============================================
drawer
=============================================== */
.p-drawer__nav {
  padding-top: f.pxToRem(20);
  display: flex;
  flex-flow: column;
  text-align: center;
  
  li {
    gap: f.pxToRem(10);
    padding: f.pxToRem(10) 0;
    font-weight: 500;

    &:not(:last-child){
      border-bottom: 1px solid v.$color-font;
    }
    
    a {
      padding: 1em 0;
      width: 100%;
      display: block;

      svg {
       display: block;
       margin: f.pxToRem(20) auto 0;
      }
      
    }
  }
}

.p-drawer__copyright {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}


