@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;

.p-header__nav {
  display: none;
  
  @include m.mq('pc'){
    display: block;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: f.pxToRem(40);
    
    li {
      font-size: f.pxToRem(20);
      margin: auto;
      
      a {
        transition: 0.5s ease-out;
        cursor: pointer;
    
        &:hover {
          opacity: .6;
        }
      }
    }
  } 
}

/* ===============================================
drawer
=============================================== */
.p-drawer__nav {
  padding-top: f.pxToRem(20);
  display: flex;
  flex-flow: column;
  text-align: center;
  
  li {
    gap: f.pxToRem(10);
    padding: f.pxToRem(10) 0;
    font-weight: 500;

    &:not(:last-child){
      border-bottom: 1px solid v.$color-font;
    }
    
    a {
      padding: 1em 0;
      width: 100%;
      display: block;

      svg {
       display: block;
       margin: f.pxToRem(20) auto 0;
      }
      
    }
  }
}

.p-drawer__copyright {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
}


