@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;

/* ===============================================
fv
=============================================== */
.p-fv {
  margin-top: f.pxToRem(86);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  @include m.mq('sp'){
    margin-top: f.pxToRem(60);
  } 
  
  img {
    width: 100%;
    height: 100%;
    min-height: 0;
    object-fit: cover;
  }
  
  &:after {
    content: "";
    background: #000;
    grid-column: 12 / -1;
    grid-row: 12 / 1;
    opacity: .2;
  }
}

.p-fv__img {
  grid-column: 12 / -1;
  grid-row: 12 / 1;
}

.p-fv__content {
  color: #fff;
  z-index: 1;
  display: flex;
  flex-flow: column wrap;
  grid-column: 12 / -1;
  grid-row: 12 / 1;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: f.pxToRem(10);
  
  > h1{
    font-size: clamp(2rem, 1.296rem + 3vw, 4rem);
  }

  > p {
    font-size:clamp(1rem, 0.857rem + 0.71vw, 1.5rem);
  }
}

.p-fv__scroll {
  content: "";
  z-index: 1;
  height: 140px;
  display: grid;
  grid-row: 8 ;
  grid-column: 6 / 8;
  top: f.pxToRem(60);
  position: relative;

  span {
    color: #fff;
    font-size: f.pxToRem(16);
    font-weight: 700;
  }

  &::after {
    content: "";
    position: absolute;
    background: #fff;
    width: 2px;
    top: 25px;
    left: 25px;
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;

    @include m.mq("sp") {
      height: 52px;
    }

    @keyframes pathmove {
      0% {
        height: 0;
        top: 20px;
        opacity: 0;
      }
      30% {
        height: 60px;
        opacity: 1;
      }
      100% {
        height: 0;
        top: 130px;
        opacity: 0;
      }
    }
  }
}

/* ===============================================
about
=============================================== */

.p-about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(1.25rem, -0.07rem + 5.63vw, 5rem);

  @include m.mq('sp') {
    flex-flow: column wrap;
    justify-content: center;
    place-items: center;

  }
}

.p-about__img {
   font-size: f.pxToRem(24);
   flex-shrink: 0;
}

.p-about__text {
  display: flex;
  flex-flow: column wrap;
  width: min(100%,(f.pxToRem(480)));
  gap: f.pxToRem(40);
  line-height: 180%;
}

.p-about__myname{
  font-size: f.pxToRem(20);

  @include m.mq('sp'){
    font-size: f.pxToRem(16);
    text-align: center;
  } 

  span {
    margin-left: f.pxToRem(12);
  }
}

.p-about__desc {
 letter-spacing: 1px;
 font-size: f.pxToRem(14);
}

  /* ===============================================
  works
  =============================================== */
  .p-works {
    padding-bottom: f.pxToRem(160);
  }
  .p-works__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: f.pxToRem(36);
    
    @include m.mq('sp') {
      grid-template-columns: 1fr;
    }
  }

  .p-works__siteTitle {
    margin-top: f.pxToRem(16);
  }
  
  .p-works__link {
    display: block;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 /0.1);

    &:hover {
      opacity: 1;
    }
  }

  .p-item__content {
    position: relative;
    overflow: hidden;
  }

  .p-item__content {
    position: relative;
    overflow: hidden;

    >img {
      width: 100%;
      height: auto;
      vertical-align: top;    
    }
  }

  .p-item__mask {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / .5);
    opacity: 0;
  }
  
  .p-item__mask-text {
    position: absolute;
    width: 100%;
    padding: .5em;
    color: #fff;
    text-align: center;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    letter-spacing: .2em;
  }

  .p-works__item,
  .p-works__link,
  .p-item__mask {
    transition: opacity .5s ease;

    &:hover{
      opacity: 1;
    }
  }

  .p-works__button {
    display: block;
    margin: f.pxToRem(80) auto 0;
  }