@use 'mixin' as m;
@use 'variable' as v;
@use 'reset';
@use 'function' as f;

.p-works-detal__title {
  font-weight: v.$font-bold;
  font-size: clamp(1rem, 0.912rem + 0.38vw, 1.25rem);
  padding-bottom: f.pxToRem(12);
  border-bottom: 2px solid v.$color-accent;
}

.p-works-detal__img {
  max-width: 0 auto;
  box-shadow: 0px 5px 15px 0px rgb(0 0 0 /0.1);
  margin-top: clamp(2.5rem, 1.972rem + 2.25vw, 4rem);
}

.p-works-detal__item {
  display: flex;
  border-bottom : 1px solid #c4c4c4;

  @include m.mq('sp') {
    flex-flow: column wrap;
  }
}

dl {
  margin-top: f.pxToRem(52);
  width: 100%;
  
  @include m.mq('sp') {
    margin-top: f.pxToRem(60);
  }
  
  dt {
    font-weight: v.$font-bold;
    max-width: 600px;
    width: f.pxToRem(120);
    flex-shrink: 0;
  }
  
  dt,dd {
    padding: f.pxToRem(30) 0;
    align-items: center;
    width: 100&;

    @include m.mq('sp') {
      padding: f.pxToRem(16) 0;  
   }
  }

  dd {
    font-size: f.pxToRem(14);
    letter-spacing: 1.4px;
    a{
      color:blue;
      text-decoration: underline;
    }
  }
}
